<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blake Gabb Portfolio</title>
  <link rel="stylesheet" href="home.css">


</head>

<body>

  <!-- navbar copy paste #note remember to commet out page that you are on-->
  <nav>
    <!--- <a href="index.html">Home</a> #commented out since on the home page --->
    <a href="skills.html">Skills</a>
    <a href="projects.html">Projects</a>
    <a href="contact.html">Contact Me</a>
  </nav>


  <div class="about">

    <div class="about-left">

      <h2>About Me</h2>
        <p>
        I am currently a student at NMIT studying a bachelors in information systems.
        </p>
        <p>
            Outside of studying I like to shoot guns in both a competitive environment with pistols, long range shooting where I shoot targets up to 1 KM away, as well as hunting to provide food for myself and my family.
        </p>
        <p>
            Due to all of these different sports when I am not studying or at NMIT you will find me outdoors.
        </p>
        <p>
            I hope this website serves to showcase my skills and projects as well as providing access to contact me about any future enquiries.
        </p>
        <p>Cheers,<br>Blake Gabb</p>

    </div>

    <div class="about-right">

      <div class="about-image">
          <img src="../../assets/images/blake.jpg" alt="Blake Gabb">
      </div>

    </div>

  </div>

  <!-- footer copy paste -->
  <footer>
    <p>&copy; 2025 Blake Gabb</p>
  </footer>

</body>

</html>
