<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="skills.css">
  <title>Blake Gabb Portfolio</title>

  
</head>

<body>

  <nav>
    <a href="../../components/home/home.html">Home</a>
    <!--- <a href="../skills/skills.html">Skills</a> --->
    <a href="../projects/projects.html">Projects</a>
    <a href="../contact/contact.html">Contact Me</a>
  </nav>

  <div class="title">
    <h2>My Skills</h2>
  </div>

  <div class="skill-container">
    <div class="skill">

      <div class="skill-python">
        <h2>Python</h2>
        <p>I have extensive experience using Python to program front-end systems, small programs, and Discord bots.</p>
        <p>I am always looking for new oppertunaties to improve my programing skills and learn more about different systems using python </p>
      </div>

      <div class="skill-javascript">
        <h2>JavaScript</h2>
        <p>In my course I have started using JavaScript for programs and I am currently learning to integrate it with websites and HTML.</p>
        <p>I have use JavaScript to create a program which plays tic tak toe with two AI agasint each other, and have also used it to create a mine sweaper game
      </div>

      <div class="skill-HTML_CSS">
        <h2>HTML & CSS</h2>
        <p>I am currently learning HTML and CSS to build this web portfolio.</p>
        <p>as my course progresses this website will have more functions like commenting, working contact fields, logins using firebase! </p>
      </div>

      <div class="skill-leadership">
        <h2>Leadership</h2>
        <p>In previous roles, I have developed leadership and team management skills, enabling effective communication within a team.</p>
        <p>I now work to use these skills to assist and enable me to continue forward in my studys.
      </div>
    </div>
    <div class="skill-blurb">
      <a> while I am still studying I will continue to grow my skillset and add more skills which will be usable in the future.</a><br>
      <a>I look forward to using these skills in the workforce to apply my in class learning with pratical applications </a>
    </div>
  </div>

  <footer>
    <p>&copy; 2025 Blake Gabb</p>
  </footer>

</body>
</html>
