body {
      margin: 0;
      font-family: Arial, sans-serif;
      background-color: #121212; 
      color: white;
      display: flex;
      flex-direction: column;
      min-height: 100vh;
      position: relative;
      overflow-x: hidden;
      text-align: center;
    }

    main {
        flex: 1; 
}
    nav {
      padding: 15px;
      display: flex;
      justify-content: center;
      gap: 20px;
    }

    nav a {
      color: #00ADB5;
      text-decoration: none;
      font-weight: bold;
    }

    nav a:hover {
      color: #FF5722;

    }

/* put page spefic content here before footer */

input[type=text] {
  width: 50%;
  padding: 20px;
  border: 1px solid #1E1E2F;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;

}
.contact-form {
  border: 20px solid #1E1E2F;       /* adds the border */
  border-radius: 8px;
  padding: 20px;
  max-width: 600px;             
  margin: 20px auto;           
  background-color: #1E1E2F; 
  text-align: left;            
}

.contact {
  padding-bottom: 40px;
}





    footer {
        position: fixed;    
        bottom: 0;          
        left: 0;            
        width: 100%;        
        background-color: black;
        color: white;
        text-align: center;
        padding: 15px;
}
