<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blake Gabb Portfolio</title>
  <link rel="stylesheet" href="projects.css">

</head>

<body>

  <!-- navbar copy paste #note remember to commet out page that you are on-->
  <nav>
    <a href="../../components/home/home.html">Home</a>
    <a href="../skills/skills.html">Skills</a>
    <!--- <a href="../projects/projects.html">Projects</a> --->
    <a href="../contact/contact.html">Contact Me</a>
  </nav>


  <div class="project">

    <div class="project-left">

      <h2>Atak server</h2>
        <p>I currently host an manage an ATAK server for my airsoft club.</p>

        <p>part of this includes a website which allows people in my club to view and watch my postion live as I play on a field </p>

        <p>While ATAK its self is avliable to the public the website which enables viewers was crated by myself to help people watch my progress </p>

    </div>

    <div class="project-right">

      <div class="project-image">
          <img src="../../assets/images/atak.jpg" alt="atak">
      </div>

    </div>

  </div>

  <div class="project">

    <div class="project-left">

      <h2>Marketing AI tools</h2>
      <p> working alongside my friend I am currently working on the devlopment of AI tools to assit business marketing</p>

      <p>by running local LLMS and using a AI assited scrapping and datastorage techniques we have devloped a scrapper that more effciently crawls websites. </p>

      <p>I hope to one day release these tools to the public to help small businesses get better AI assitance for marketing </p>
    </div>

    <div class="project-right">

      <div class="project-image">
          <img src="../../assets/images/marketingAI.png.png" alt="AI devlopment">
      </div>

    </div>

  </div>

  <div class="project">

    <div class="project-left">

      <h2>Proof of concept paitent management system</h2>
      <p> In my classes I worked on a proof of concept javasctipt patient management system</p>

      <p>By using javascript I created a project which fitted the needs of the reqiurements and created a proof of concept for the problem which needed to be solved </p>

      <p>This project was one of the first times I had used javascript for a big project and used it to highten my skills</p>
    </div>

    <div class="project-right">

      <div class="project-image">
          <img src="../../assets/images/PatientManagementSystem.png" alt="javascript project">
      </div>

    </div>

  </div>
  <!-- footer copy paste -->
  <footer>
    <p>&copy; 2025 Blake Gabb</p>
  </footer>

</body>

</html>
