body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #121212; 
  color: white;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  overflow-x: hidden;
  padding-bottom: 50px;
}


main {
  flex: 1; 
}

nav {
  padding: 15px;
  display: flex;
  justify-content: center;
  gap: 20px;
}

nav a {
  color: #00ADB5;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  color: #FF5722;
}

.project {
  display: flex;              
  align-items: flex-start;    
  justify-content: center;    
  gap: 40px;                  
  margin: 50px auto;          
  max-width: 900px;           
  background: #1E1E2F;
  border: 2px solid gray;
  padding: 30px;
  border-radius: 12px;
  text-align: left;           
}

.project:hover {
  background: #FF5722;
  transition: 1s;
}

.project-left {
  flex: 1;                     
}

.project-right {
  flex: 1;                     
  display: flex;               
  justify-content: center;     
}

.project-image img {
  max-width: 300px; 
  width: 100%;       
  height: auto;      
  border-radius: 12px;
  border: 2px solid gray;
}

footer:hover {
  background-color: #FF5722;
  transition: 1s;
}

footer {
  position: fixed;    
  bottom: 0;          
  left: 0;            
  width: 100%;        
  background-color: black;
  color: white;
  text-align: center;
  padding: 15px;
}